/* ESTILOS PAGINA CAMPING */

// Estilos para section_banner
.bannerCamping {
    background-image: url(../img/campingtop.jpg);
    height: 80%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    p {
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        text-transform: uppercase;
        font-size: 4rem;
        text-align: right;
        color: white;
        padding: 5rem;
    }
}

// Estilos para section_camping

.camping {
    background-color: rgb(186, 183, 175);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.campingArticulo {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.campingContenedor {
    display: flex;
    flex-wrap: nowrap;
    padding: 2rem;

    img {
        height: 250px;
        width: 300px;
    }

    div {
        height: 250px;
        width: 300px;
        justify-content: space-between;

        div {
            height: 10%;
            width: 90%;
        }
    }
}    

.campingImagen {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 5%;
    background-color: white;


    img {
        max-height: 25px;
        max-width: 25px;
    }
}

.campingInfo {
    background-color: rgb(250, 183, 94);

    h4 {
        font-size: 3rem;
        text-align: center;
        font-family: 'Oswald', sans-serif;
        font-weight: 400;
        padding: 0.5rem;
        color: white;
    }

    p {
        font-size: 1.5rem;
        font-family: 'Roboto', sans-serif;
        padding: 0.5rem 0.5rem 0.8rem 1.5rem;
        color: black;
    }
}

// DISEÑOS RESPONSIVE
@media (max-width: 850px) {
    // Estilos para section_banner
    .bannerCamping {
        height: 40%;
        
        p {
            padding: 8rem;
        }
    }

    // Estilos para section_camping
    .campingArticulo {
        flex-direction: column;
        flex-wrap: wrap;
    }
}

@media (max-width: 420px) {
    // Estilos para section_banner
    .bannerCamping {
        height: 30%;
        
        p {
            font-size: 2rem;
            padding: 8rem;
        }
    }

    // Estilos para section_camping
    .campingArticulo {
        flex-direction: column;
        flex-wrap: wrap;
    }

    .campingContenedor {
        flex-wrap: wrap;
        justify-content: center;
        padding: 1rem;
    }

    // /* FOOTER */
    // .footer {
    //     flex-direction: column;
    //     padding: 1rem;
    // }
    
    // .footer_metodosPago {
    //     padding: 0.5rem;
    //     flex-direction: row;
    
    //     P {
    //         font-size: 1rem;
    //     }
    
    //     img {
    //         max-height: 32px;
    //         padding: 0.5rem;
    //     }
    
    //     img:hover {
    //         transform: scale(1,1);
    //     }
    // }

    // .footer_socialMedia {
    //     padding: 0.5rem;
    //     flex-direction: row;
    //     flex-wrap: wrap;
    
    //     p {
    //         font-size: 1rem;
    //     }
    
    //     img {
    //         max-height: 32px;
    //         padding: 0.5rem;
    //     }
    
    //     img:hover {
    //         transform: scale(1,1);
    //     }
    // }
}