/* ESTILOS PARA PAGINA CONTACT */

// Estilos para section_banner
.bannerContact {
    background-image: url(../img/contacttop.jpg);
    height: 80%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    p {
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        text-transform: uppercase;
        font-size: 4rem;
        text-align: left;
        color: white;
        padding: 10rem 10rem 25rem 10rem;
    }
}

// Estilos para section_contactContenedor
.contactContenedor {
    display: grid;
    grid-template-columns: 50% 50%;
}

.formulario {
    background-color: rgb(255, 164, 165);
    padding: 6rem;
    padding: 5rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    h4 {
        color: white;
        font-family: 'Oswald', sans-serif;
        font-size: 3rem;
        font-weight: 300;
    }

    div {
        padding: 1rem;

        label {
            padding: 1.3rem;
            color: black;
            font-family: 'Oswald', sans-serif;
            font-size: 1.5rem;
        }

        input {
            width: 350px;
            height: 15px;
            font-family: 'Roboto', sans-serif;
            font-size: 1.5rem;
            background-color: rgb(255, 164, 165);
            border: white solid 1px;
        }

        select {
            width: 350px;
            height: 15px;

            option {
                font-family: 'Roboto', sans-serif;
                font-size: 1.5rem;
                background-color: rgb(255, 164, 165);
                border: white solid 1px;
            }
        }

        textarea {
            width: 350px;
            font-family: 'Roboto', sans-serif;
            font-size: 1.5rem;
            background-color: rgb(255, 164, 165);
            border: white solid 1px;
        }
    }

    li {
        padding: 1.5rem;

        input {
            width: 100px;
            height: 25px;
            border: 1px solid white;
            font-family: 'Oswald', sans-serif;
            font-size: 1.5rem;
            text-align: center;
            margin: 0.5rem;
            background-color: rgb(255, 164, 165);
        }
        input:hover {
            background-color: rgb(186, 183, 175);
        }
    }
}

.preguntas {
    background-color: rgb(250, 183, 94);
    padding: 4rem;

    h4 {
        color: white;
        font-family: 'Oswald', sans-serif;
        font-size: 3rem;
        font-weight: 300;
        padding: 1rem;
    }
}

.acordeon {
    h2 {
        button {
            font-size: 2rem;
            font-family: 'Oswald', sans-serif;
            color: white;
            background-color: rgb(250, 183, 94);
        }

        button:focus {
            font-size: 2rem;
            font-family: 'Oswald', sans-serif;
            color: white;
            background-color: rgb(186, 183, 175);
        }
    }

    div {
        div {
            font-family: 'Oswald', sans-serif;
            font-size: 2rem;
        }
    }
}

.accordion-item {
    background-color: rgb(250, 183, 94);
    border: 1px solid white;
  }

.accordion-button:not(.collapsed) {
    color: white;
    background-color: rgb(250, 183, 94);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.125);
}

.form-select {
    background-color: rgb(255, 164, 165);
    border: 1px solid white;
    color: black;
}