/* ESTILOS PARA PAGINA EXPERIENCE */

// Estilos para section_banner
.bannerExperience {
    background-image: url(../img/experiencetop.jpeg);
    height: 80%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    p {
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        text-transform: uppercase;
        font-size: 4rem;
        text-align: left;
        color: white;
        padding: 40rem 10rem 25rem 10rem;
    }
}

// Estilos section_experience
.experience {
    background-color: rgb(186, 183, 175);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.experienceArticulo {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.experienceContenedor {
    display: flex;
    flex-wrap: nowrap;
    padding: 2rem;

    img {
        height: 250px;
        width: 300px;
    }

    div {
        height: 250px;
        width: 300px;
    }
}

.experienceInfo {
    background-color: rgb(250, 183, 94);

    h4 {
        font-size: 3rem;
        text-align: center;
        font-family: 'Oswald', sans-serif;
        font-weight: 400;
        padding: 0.5rem;
        color: white;
    }

    p {
        font-size: 1.5rem;
        font-family: 'Roboto', sans-serif;
        padding: 1rem;
    }
}

// DISEÑOS RESPONSIVE
@media (max-width: 850px) {
    // Estilos para section_banner
    .bannerExperience {
        height: 40%;
        
        p {
            padding: 18rem;
        }
    }
    
    // Estilos para section_experience
    .experienceArticulo {
        flex-direction: column;
        flex-wrap: wrap;
    }
}

@media (max-width: 420px) {
    // Estilos para section_banner
    .bannerExperience {
        height: 30%;
        
        p {
            font-size: 2rem;
            padding: 8rem;
        }
    }

    // Estilos para section_camping
    .experienceArticulo {
        flex-direction: column;
        flex-wrap: wrap;
    }

    .experienceContenedor {
        flex-wrap: wrap;
        justify-content: center;
        padding: 1rem;
    }

    /* FOOTER */
    .footer {
        flex-direction: column;
        padding: 1rem;
    }
    
    .footer_metodosPago {
        padding: 0.5rem;
        flex-direction: row;
    
        P {
            font-size: 1rem;
        }
    
        img {
            max-height: 30px;
            padding: 0.5rem;
        }
    
        img:hover {
            transform: scale(1,1);
        }
    }

    .footer_socialMedia {
        padding: 0.5rem;
        flex-direction: row;
        flex-wrap: wrap;
    
        p {
            font-size: 1rem;
        }
    
        img {
            max-height: 30px;
            padding: 0.5rem;
        }
    
        img:hover {
            transform: scale(1,1);
        }
    }
}