/* ESTILOS PARA PAGINA MOTOR HOME */

// Estilos para section_banner
.bannerMotorhome {
    background-image: url(../img/motorhometop.jpg);
    height: 80%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    p {
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        text-transform: uppercase;
        font-size: 4rem;
        text-align: left;
        color: white;
        padding: 35rem 10rem 25rem 10rem;
    }
}

// Estilos para section_motorhome
.motorhome {
    background-color: rgb(186, 183, 175);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.motorhomeArticulo {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.motorhomeContenedor {
    display: flex;
    flex-wrap: nowrap;
    padding: 2rem;

    img {
        height: 250px;
        width: 330px;
    }

    div {
        height: 250px;
        width: 300px;
    }
}

.motorhomeInfo {
    background-color: rgb(250, 183, 94);

    h4 {
        font-size: 3rem;
        text-align: center;
        font-family: 'Oswald', sans-serif;
        font-weight: 400;
        padding: 1rem;
        color: white;
    }

    p {
        font-size: 2rem;
        font-family: 'Roboto', sans-serif;
        padding: 1rem;
    }
}
